@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.nationalParkItemContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.exploreParkItem {
  background-color: rgba(238, 240, 241, 0.5);
  border: 1px solid rgba(172, 175, 176, 0.3);
  border-radius: 12px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: center;
}

.parkStack{
  margin-right: auto;
  width:80%;
  margin-left: auto;
}

.parkStackWrapper{
  align-items: center;
}

.exploreParkPic {
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
}

.parkTitle {
  display: flex;
  width: 100%;
  height: 6rem;
  background-color: #1B742E;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.exploreParkName{
  margin-left: 5px;
}

.exploreParkLink {
  text-decoration: none;
  color: #000000
}

.bottomFooter{
  width: 100%;
  /* height:  20vh; */
  background-color: red;
  color: white;

}

.bottomNavBar{
  width: 100%;
  /* height: 20vh; */
  background-color: red;
  color: white;
}

.bottomLink {
  text-align: center;
  justify-content: center;
  color:rgba(253, 253, 253, 0.856);
}

.bottomNavBar{
  width: 100%;
  height: 6rem;
  background-color: #1B742E;
  color: white;
}

.topHeader{
  display:flex;
  width: 100%;
  height: 7vh;
  background-color: #1B742E;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: sticky;
  top: 0;
  z-index: 9999;
  /* margin-bottom: 20px; */
  box-shadow: 1px 1px 5px black;
}

.top-logo {
  left: 0;
}

.userButton{
  float:right;
  margin-left: 1rem;
}

.bottom-user-button{
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  width: 10%;
}

.home-page{
  justify-content: center;
  text-align: center;
  height: auto;
}

.home-page-image{
  padding: 2rem;
  max-width: 80%;
  height: auto;
}

.home-page-paragraph{
  padding: 1rem;
  max-width: 80%;
  height: auto;
}

.exploreSelector{
  display: flex;
  width: 100%;
  height: 5vh;
  background-color: white;
  /* margin-bottom: 20px; */
  justify-content: center; 
}


.parkImage img {
  width: 100%
}

.parkDescription {
  font-size: 1.2rem;
}

.nationalParkItemContents {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.mapContainer {
  width: 100%;
  height: 81vh;
}

.ol-attribution {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.ol-attribution button {
  display: none;
}

.ol-attribution li {
  list-style-type: none;
  background-color: white;
  padding: .5rem;
  border-radius: .5rem;
  font-size: .7rem;
}

.ol-zoom-in  {
  margin-top: .5rem;
  margin-right: .5rem;
  margin-left: .5rem;
  background-color: white;
  border-radius: .5rem;
}

.ol-zoom-out {
  background-color: white;
  border-radius: .5rem;
}

.ol-zoom-out:hover, .ol-zoom-in:hover {
  cursor: pointer;
  background-color: #1B742E;
  color: white;
}

.mapIcon:hover {
  cursor: pointer;
}

.mapIconImageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border: 3px solid white;
  box-shadow: 2px 2px 5px black;
}

.mapIconImageContainer:hover{
  border: 5px solid white;
}

.parkMap {
  display: flex;
  justify-content: center;
}

.parkMapContainer {
  margin-top: 1rem;
  width: 80%;
  height: 50vh;
  border: 8px solid #1B742E;
  border-radius: .5rem;
}

.parkMapIcon {
  color: #1B742E;
}