.nationalParkItemContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.exploreParkItem {
  background-color: rgba(238, 240, 241, 0.5);
  border: 1px solid rgba(172, 175, 176, 0.3);
  border-radius: 12px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: center;
}

.parkStack{
  margin-right: auto;
  width:80%;
  margin-left: auto;
}

.parkStackWrapper{
  align-items: center;
}

.exploreParkPic {
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
}

.parkTitle {
  display: flex;
  width: 100%;
  height: 6rem;
  background-color: #1B742E;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.userButton{
  float:right;
  margin-left: 10px;
}

.exploreParkName{
  margin-left: 5px;
}

.exploreParkLink {
  text-decoration: none;
  color: #000000
}

.bottomFooter{
  width: 100%;
  height: 6rem;
  background-color: #1B742E;
  color: white;

}

.bottomNavBar{
  width: 100%;
  height: 6rem;
  background-color: #1B742E;
  color: white;
}

.bottomLink {
  text-align: center;
  justify-content: center;
  color:rgba(253, 253, 253, 0.856);
}

.topHeader{
  display:flex;
  width: 100%;
  height: 6rem;
  background-color: #1B742E;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 20px;
}


.parkImage img {
  width: 100%
}

.parkDescription {
  font-size: 1.2rem;
}

.nationalParkItemContents {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.mapContainer {
  width: 100%;
  height: 72vh;
}

.ol-attribution {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.ol-attribution button {
  display: none;
}

.ol-attribution li {
  list-style-type: none;
  background-color: white;
  padding: .5rem;
  border-radius: .5rem;
  font-size: .7rem;
}

.ol-zoom-in  {
  margin-top: .5rem;
  margin-right: .5rem;
  margin-left: .5rem;
  background-color: white;
  border-radius: .5rem;
}

.ol-zoom-out {
  background-color: white;
  border-radius: .5rem;
}

.ol-zoom-out:hover, .ol-zoom-in:hover {
  cursor: pointer;
  background-color: #1B742E;
  color: white;
}

.mapIcon {
  width: 10px;
  height: 10px;
  font-size: .7rem;
}

.mapIcon:hover {
  cursor: pointer;
}