@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

/* Top and bottom nav bars */
.topHeader{
  display:flex;
  width: 100%;
  height: 7vh;
  background-color: #1B742E;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: sticky;
  top: 0;
  z-index: 1200;
  box-shadow: 1px 1px 5px black;
}

.bottom-user-button{
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  width: 10%;
}






/* Home page layout */
.home-page{
  justify-content: center;
  text-align: center;
  height: auto;
}

.home-page-image{
  padding: 2rem;
  max-width: 80%;
  height: auto;
}

.home-page-paragraph{
  padding: 1rem;
  max-width: 80%;
  height: auto;
}

.sign-in-buttons{
  margin: 1rem;
}





/* Park-related styling */
.nationalParkItemContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nationalParkItemContents {
  width: 90%;
}

.parkName {
  display: inline-block;
  background-color: #1B742E;
  font-size: 2.5rem;
  color: white;
  padding: .7rem;
  margin-top: 1rem;
  border-radius: .3rem;
}

.parkItemImages {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #1B742E;
  border-radius: .5rem;
}

.imagesCarousel {
  display: flex;
  flex-direction: column;
}

.carouselImage {
  width:100%;
  height: 20rem;
  object-fit: cover;
}

.parkAbout {
  margin-top: 1rem;
  display: inline-block;
  color: #1B742E;
  font-size: 2rem;
}

.parkDescription {
  width: fit-content;
  font-size: 1.2rem;
}

.parkDescription span {
  font-size: 2rem;
  color: #1B742E;
}

.activitiesAccordion {
  margin-bottom: 10rem;
  width: 100.7%;
}

.mobileStepper {
  width: 400px;
}

.exploreParkItem {
  background-color: rgba(238, 240, 241, 0.5);
  border: 1px solid rgba(172, 175, 176, 0.3);
  border-radius: 12px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: center;
}

.parkStack{
  margin-right: auto;
  width:80%;
  margin-left: auto;
}

.parkStackWrapper{
  margin-bottom: 75px;
}

.exploreParkPic {
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
}

.userButton{
  float:right;
  margin-left: 10px;
}

.parkTitle {
  display: flex;
  width: 100%;
  height: 6rem;
  background-color: #1B742E;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.exploreParkName{
  margin-left: 5px;
}

.exploreParkLink {
  text-decoration: none;
  color: #000000
}

.exploreSelector{
  display: flex;
  width: 100%;
  height: 5vh;
  background-color: white;
  /* margin-bottom: 20px; */
  justify-content: center; 
}


.parkImage img {
  width: 100%
}

.mapContainer {
  width: 100%;
  height: 81vh;
}

.ol-attribution {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.ol-attribution button {
  display: none;
}

.ol-attribution li {
  list-style-type: none;
  background-color: white;
  padding: .5rem;
  border-radius: .5rem;
  font-size: .7rem;
}

.ol-zoom-in  {
  margin-top: .5rem;
  margin-right: .5rem;
  margin-left: .5rem;
  background-color: white;
  border-radius: .5rem;
}

.ol-zoom-out {
  background-color: white;
  border-radius: .5rem;
}

.ol-zoom-out:hover, .ol-zoom-in:hover {
  cursor: pointer;
  background-color: #1B742E;
  color: white;
}

.mapIcon:hover {
  cursor: pointer;
}

.mapIconImageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border: 3px solid white;
  box-shadow: 2px 2px 5px black;
}

.mapIconImageContainer:hover{
  border: 5px solid white;
}

.parkMap {
  display: flex;
  justify-content: center;
}

.parkMapContainer {
  margin-top: 1rem;
  width: 100%;
  height: 20rem;
  border: 8px solid #1B742E;
  border-radius: .5rem;
}

.parkMapIcon {
  color: #1B742E;
}

.modalContentsContainer {
  width: 85vw;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px black;
  outline: 7px solid #1B742E;
  overflow-y: scroll;
  z-index: 9999;
}

.centered {
  margin: 1.5rem;
  text-align: center;
}

.leaflet-control-zoom-in {
  background-color: #1B742E !important;
  color: white !important;
  padding: 3px;
  border-top: 4px solid white;
  border-right: 4px solid white;
  border-left: 4px solid white;
  border-bottom: 1px solid white !important;
}

.leaflet-control-zoom-in:hover {
  background-color: green !important;
}

.leaflet-control-zoom {
  border: none !important;
  box-shadow: 2px 2px 5px black !important;
}

.leaflet-control-zoom-out {
  background-color: #1B742E !important;
  color: white !important;
  padding: 3px;
  border-top: 1px solid white;
  border-right: 4px solid white;
  border-left: 4px solid white;
  border-bottom: 4px solid white !important;
}

.leaflet-control-zoom-out:hover {
  background-color: green !important;
}