.myTrip{
    margin-left: 2rem;
}

.edit{
    margin-top: 2rem;
    transform: scale(1.8);
    border-radius: 50%;
    background-color: #f0f0f0;
    padding: 7px;
}

.edit:hover{
    background-color: #c0c0c0;

}